blockquote ul {
    list-style:disc;
    margin:4px 40px;
}
blockquote ol {
    list-style:decimal;
    margin:4px 40px;
}
.block.padded.ch_box {
    padding: 10px !important;
}
.ch_box .gradio-row + .gradio-row {
    margin-top: .75em
}
.ch-action,
.ch-action:active {
    filter: brightness(.8)
}
.ch-action:hover {
    filter: brightness(1.25) hue-rotate(90deg)
}
